:root {
  --c1: #1f487c;
  --c2: #1081df; 
  --c3: #5fb7a1; 
  --c4: #e7552c; 
  --c5: #ffffff; 
  --c7: #212529; 
  --c6: #000000; 
}


body {
	font-family: 'Ubuntu', sans-serif;
}

bg-content-1 {
  background-color: white;
}

bg-content-2 {
  background-color: cornflowerblue;
}

h1.about {
  font-weight: bold;
  color: var(--c6);  
}

h2.about {
  color: var(--c6);
}

h3.box {
  font-weight: bold;
}

p.about {
  font-size: 1.5rem;
}

p.box {
  font-size: 1.2rem;
  vertical-align: middle;
}

img {
  max-width: 100%
}

div.box, .box2, .box3, .box4  {
  background-color: var(--c3);
  border-color: var(--c6);
  border-style: solid;
  color: var(--c5);

}

.box2 {
  background-color: var(--c2);
}

.box3 {
  background-color: var(--c1);
}

.box4 {
  background-color: var(--c7);
}
/* subscribe1 */
.subscribe-1-bg {
  background-color: var(--c2);
}
.subscribe-1-bold {
  font-weight: bold;
  color: var(--c2);
}
.subscribe-1-name {
  background-color: var(--c1);
  border-style: solid;
  border-color: var(--c5);
  border-radius: 5px;
  color: var(--c5);
  margin-bottom: 0px;
}
.subscribe-1-btn{
  background-color:var(--c1);
  color: var(--c5);
  font-size: 1.6rem;
}

.subscribe-1-btn:hover{
  background-color: var(--c4);
  color:var(--c5);
  font-size: 1.6rem;
}
/* subscribe1 */

/* subscribe2 */
.subscribe-2-bg {
  background-color: var(--c7);
}
.subscribe-2-bold {
  font-weight: bold;
  color: var(--c1);
}

.subscribe-2-btn{
  color: var(--c5);
  font-size: 1.8em;
  border-style: solid;
  border-width: 5px;
  border-color:  var(--c5);
}
.subscribe-2-btn:hover{
  background-color:  var(--c7);
  color: var(--c4);
  border-style: solid;
  border-width: 5px;
  border-color: var(--c4);
}

p.subscribe-2-text {
  color:var(--c5);
  font-size:1rem;
}

h2.subscribe-2 {
  color:var(--c5);
}

h2.subscribe-2 {
  color:var(--c5);
}
/* subscribe2 */

/* subscribe3 */
.subscribe-3-bg {
  background-color: var(--c2);
}

h2.subscribe-3 {
  color:var(--c5);
}

h2.subscribe-3 {
  color:var(--c5);
}

.subscribe-3-btn{
  background-color: var(--c4);
  color: var(--c5);
  font-size: 2.5rem;
}

.subscribe-3-btn:hover{
  background-color: var(--c5);
  color:var(--c6);
}
/* subscribe3 */


/* subscribe4 */
.subscribe-4-bg {
  background-color: var(--c2);
}

h2.subscribe-4 {
  color:var(--c5);
  font-weight: bold;
}

h1.subscribe-4 {
  color:var(--c5);
}

h3.subscribe-4 {
  color:var(--c5);  
}

strong.subscribe-4 {
  color:var(--c1);  

}


.subscribe-4-btn{
  background-color: var(--c7);
  color: var(--c5);
  font-size: 1.6rem;
}

.subscribe-4-btn:hover {
  background-color: var(--c1);
  color: var(--c5);
}
/* subscribe4 */


/* contact */
.contact-bg {
  background-color:var(--c7);
}

h2.contact {
  color:var(--c5);
}
/* contact */

/* share */

.share-bg {
  background-color:var(--c5);
}

h2.share {
  color:var(--c6);
  font-weight: bold;
}
/* share */