body {
	font-family: 'Ubuntu', sans-serif;
}





bg-content-1 {
  background-color: white;
}

bg-content-2 {
  background-color: cornflowerblue;
}

.subscribe-1-bg {
  background-color: #007bff;
}
.subscribe-1-bold {
  font-weight: bold;
  color: white;
}
.subscribe-1-name {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  color: white;
}
.subscribe-1-btn{
  background-color: white;
  color: black;
  font-size: 1.6em;
}

.subscribe-1-btn:hover{
  background-color: #dc3545;
  color: white;
  font-size: 1.6em;
}

.subscribe-2-bg {
  background-color: cornflowerblue;
}
.subscribe-2-bold {
  font-weight: bold;
  color: white;
}
.subscribe-2-name {
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  color: white;
}
.subscribe-2-btn{
  color: white;
  font-size: 1.6em;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}
.subscribe-2-btn:hover{
  background-color: white;
  color: #dc3545;
  font-size: 1.6em;
  border-style: solid;
  border-width: 5px;
  border-color: #dc3545;
}


p.subscribe-2-text {
  color:white;
  font-size:1em;
}

h2.subscribe-2 {
  color:white;
}
h1.subscribe-2 {
  color:white;
}

.subscribe-3-btn{
  background-color: #dc3545;
  color: white;
  font-size: 3.0em;
}

.subscribe-3-btn:hover{
  background-color: #dc3545;
  color: black;
  font-size: 3.0em;
}


.contact-bg {
  background-color: #1c1c1c;
}

h2.contact {
  color:white;
}

.share-bg {
  background-color: white;
}

h2.share {
  color:black;
  font-weight: bold;

}


.subscribe-4-bg {
  background-color: whitesmoke;
}

h2.subscribe-4 {
  color:white;
  font-weight: bold;
}

h1.subscribe-4 {
  font-weight: bold;
}

.subscribe-4-btn{
  background-color: goldenrod;
  color: black;
  font-size: 1.6em;
}

.subscribe-4-btn:hover {
  background-color: #4CAF50; /* Green */
  color: black;
}
.subscribe-4-icon{
width:64px;height: 64px;
}