:root {
  --c1: #1f487c;
  --c2: #1081df; 
  --c3: #5fb7a1; 
  --c4: #e7552c; 
  --c5: #ffffff; 
  --c7: #212529; 
  --c6: #000000; 
}


body {
	font-family: 'Ubuntu', sans-serif;
}


header {
  background-color: var(--c2);
}

footer {
  background-color: var(--c7);
}

img.top {
  margin: 0.4rem;
}

div.footer {
  background-color: var(--c1);
}

h1 {
  font-weight: bold;
}

p {
  font-size: 1.4rem;
}
strong {
  color:var(--c4);
}
span {
  color:var(--c2);
}